<br><br>
<div class="jumbotron">
  <h2><i class="fa fa-wrench" aria-hidden="true"></i> <?=__('Editing Domain')?></h2>
  <?php if (!empty($_SESSION['error_msg'])) { ?>
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation" aria-hidden="true"></i>
      <?=htmlentities($_SESSION['error_msg'])?>
    </div>
  <?php } else if (!empty($_SESSION['ok_msg'])) { ?>
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check" aria-hidden="true"></i>
      <?=htmlentities($_SESSION['ok_msg'])?>
    </div>
  <?php } ?>
    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div>
      <?php
        $back = $_SESSION['back'];
        if (empty($back)) {
          $back = "location.href='/list/web/'";
        } else {
          $back = "location.href='".$back."'";
        }
      ?>
        <form id="vstobjects" name="v_edit_web" method="post"  class="<?=$v_status?>">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="save" value="save" />

            <table class='data'>
                <tr class="data-add">
                    <!-- <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                    <a class="data-date"><?=translate_date($v_date)?></a><br>
                                    <a class="data-date"><?=$v_time?></a>
                                </td>
                            </tr>
                            <tr><td class="data-<?=$v_status ?>"><b><?=__($v_status) ?></b></td></tr>
                        </table>
                    </td> -->
                    <td class="data-dotted">
                        <table class="data-col2">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Domain');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <input type="text" size="20" class="form-control" name="v_domain" value="<?=htmlentities(trim($v_domain, "'"))?>" disabled>
                                  <input type="hidden" name="v_domain" value="<?=htmlentities(trim($v_domain, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('IP Address');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" name="v_ip">
                                        <?php
                                            foreach ($ips as $ip => $value) {
                                                $display_ip = htmlentities(empty($value['NAT']) ? $ip : "{$value['NAT']}");
                                                $ip_selected = ((!empty($v_ip) && $ip == $v_ip) || $v_ip == "'{$ip}'")  ? 'selected' : '';
                                                echo "\n\t\t\t\t\t\t\t\t\t\t\t\t<option value=\"{$ip}\" {$ip_selected}>{$display_ip}</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Aliases');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea size="20" class="form-control" name="v_aliases"><?=htmlentities(trim($v_aliases, "'"))?></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_ssl" <?php if ($v_ssl == 'yes') echo "checked=yes" ?> onclick="javascript:elementHideShow('ssltable');"> <?php print __('SSL Support');?></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="step-left">
                                    <table style="display:<?php if ($v_ssl == 'no' ) { echo 'none';} else {echo 'block';}?> ;" id="ssltable">
                                        <tr>
                                          <td class="input-label vst-text">
                                              <label><input type="checkbox" size="20" class="vst-checkbox" name="v_letsencrypt" <?php if($v_letsencrypt == 'yes' || $v_letencrypt == 'on') echo "checked=yes" ?> onclick="App.Actions.WEB.toggle_letsencrypt(this)"> <?php print __('Lets Encrypt Support');?></label>
                                          </td>
                                      </tr>
                                      <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Home Directory');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="form-control" name="v_ssl_home">

                                                    <option value='same' <?php if ($v_ssl_home == 'same') echo "selected";?>>
                                                         public_html
                                                    </option>
                                                    <option value='single' <?php if ($v_ssl_home == 'single') echo "selected";?>>
                                                        public_shtml
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Certificate');?>
                                                <span id="generate-csr"> / <a class="generate" target="_blank" href="/generate/ssl/?domain=<?=htmlentities(trim($v_domain, "'"))?>"><?=__('Generate CSR')?></a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="form-control" name="v_ssl_crt"><?=htmlentities(trim($v_ssl_crt, "'"))?></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Key');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="form-control" name="v_ssl_key"><?=htmlentities(trim($v_ssl_key, "'"))?></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Certificate Authority / Intermediate');?> <span class="optional">(<?php print __('optional');?>)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="form-control" name="v_ssl_ca"><?=htmlentities(trim($v_ssl_ca, "'"))?></textarea>
                                            </td>
                                        </tr>
                                        <?
                                        if ($v_ssl != 'no' ) { ?>
                                        <tr>
                                            <td>
                                                <table class="additional-info">
                                                    <tr>
                                                        <td>
                                                            <?=__('SUBJECT')?>:
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_subject?>
                                                        </td>
                                                    </tr>
                                                    <? if($v_ssl_aliases){?>
                                                    <tr>
                                                        <td>
                                                            <?=__('ALIASES')?>:
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_aliases?>
                                                        </td>
                                                    </tr>
                                                    <? } ?>
                                                    <tr>
                                                        <td>
                                                            <?=__('NOT_BEFORE')?>:
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_not_before?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <?=__('NOT_AFTER')?>:
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_not_after?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <?=__('SIGNATURE')?>:
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_signature?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <?=__('PUB_KEY')?>:
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_pub_key?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <?=__('ISSUER')?>
                                                        </td>
                                                        <td class="details">
                                                            <?=$v_ssl_issuer?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <? } // if ssl is enabled ?>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Web Statistics');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" name="v_stats">
                                        <?php
                                            foreach ($stats as $key => $value) {
                                                $svalue = "'".$value."'";
                                                echo "\t\t\t\t<option value=\"".htmlentities($value)."\"";
                                                if (empty($v_stats)) $v_stats = 'none';
                                                if (( $value == $v_stats ) || ($svalue == $v_stats )){
                                                    echo ' selected' ;
                                                }
                                            echo ">". htmlentities(__($value)) ."</option>\n";
                                            }
                                    ?>
                                    </select>
                                </td>
                            </tr>
                            <tr  class="stats-auth" style="<? if ($v_stats == 'none') { ?>display:none<? } ?>">
                                <td class="vst-text input-label step-left">
                                    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_stats_auth" <?php if (!empty($v_stats_user)) echo "checked=yes" ?> onclick="javascript:elementHideShow('statstable');"><?php print __('Statistics Authorization');?></label>
                                </td>
                            </tr>
                            <tr class="stats-auth">
                                <td class="step-left">
                                    <table style="display:<?php if (empty($v_stats_user)) { echo 'none';} else {echo 'block';}?> ;" id="statstable" name="v-add-web-domain-stats-user">
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('Username');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="form-control" name="v_stats_user" value="<?=htmlentities(trim($v_stats_user, "'"))?>">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('Password');?> / <a href="javascript:WEBrandom();" class="generate"><?php print __('generate');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="form-control password" name="v_stats_password" value="<?=htmlentities(trim($v_stats_password, "'"))?>" id="v_password">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_ftp" <?php if (!empty($v_ftp_user)) echo "checked=yes" ?> onclick="App.Actions.WEB.toggle_additional_ftp_accounts(this)"> <?php print __('Additional FTP Account');?></label>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <?php foreach ($v_ftp_users as $i => $ftp_user): ?>
                                    <?php
                                        $v_ftp_user     = $ftp_user['v_ftp_user'];
                                        $v_ftp_password = $ftp_user['v_ftp_password'];
                                        $v_ftp_path     = $ftp_user['v_ftp_path'];
                                        $v_ftp_email    = $ftp_user['v_ftp_email'];
                                        $v_ftp_pre_path = $ftp_user['v_ftp_pre_path'];
                                    ?>
                                    <table style="display:<?php if (empty($v_ftp_user)) { echo 'none';} else {echo 'block';}?> ;" class="ftptable ftptable-nrm" name="v_add_domain_ftp">
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('FTP') ?> #<span class="ftp-user-number"><?php print $i + 1; ?></span> <a class="ftp-remove-user additional-control" onCLick="App.Actions.WEB.remove_ftp_user(this)">(<?=__('delete')?>)</a>
                                                <input type="hidden" class="v-ftp-user-deleted" name="v_ftp_user[<?php print $i ?>][delete]" value="0" />
                                                <input type="hidden" class="v-ftp-user-is-new" name="v_ftp_user[<?php print $i ?>][is_new]" value="<?php print htmlentities($ftp_user['is_new']) ?>" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text step-left input-label">
                                                <?php print __('Username');?><br>
                                                <span style="font-size: 10pt; color:#777;"><?php print __('Prefix will be automaticaly added to username',$user."_");?></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="text" size="20" class="form-control v-ftp-user" <?php print $ftp_user['is_new'] != 1 ? 'disabled="disabled"' : '' ?> name="v_ftp_user[<?php print $i ?>][v_ftp_user]" value="<?=htmlentities(trim($v_ftp_user, "'"))?>">
                                                <small class="hint"></small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text step-left  input-label">
                                                <?php print __('Password');?> / <a href="javascript:void(0);" onClick="FTPrandom(this)"; class="generate" ><?php print __('generate');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="text" class="form-control v-ftp-user-psw password" name="v_ftp_user[<?php print $i ?>][v_ftp_password]" value="<?=htmlentities(trim($v_ftp_password, "'"))?>">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="vst-text step-left input-label">
                                                 <?php print __('Path');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="hidden" class="form-control v-ftp-pre-path" name="v_ftp_pre_path" value="<?php print !empty($v_ftp_pre_path) ? htmlentities(trim($v_ftp_pre_path, "'")) : '/'; ?>">
                                                <input type="hidden"  class="form-control v-ftp-path" name="v_ftp_user[<?php print $i ?>][v_ftp_path_prev]" value="<?=($v_ftp_path[0] != '/' ? '/' : '').htmlentities(trim($v_ftp_path, "'"))?>">
                                                <input type="text"  class="form-control v-ftp-path" name="v_ftp_user[<?php print $i ?>][v_ftp_path]" value="<?=($v_ftp_path[0] != '/' ? '/' : '').htmlentities(trim($v_ftp_path, "'"))?>">
                                                <br /><span class="ftp-path-prefix"><?=$v_ftp_pre_path ?></span><span class="ftp-path-value v-ftp-path-hint"></span>
                                            </td>
                                        </tr>
                                        <?php if ($ftp_user['is_new'] == 1): ?>
                                        <tr>
                                            <td class="vst-text step-left input-label">
                                                 <?php print __('Send FTP credentials to email');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="text"  class="form-control vst-email-alert-on-psw" name="v_ftp_user[<?php print $i ?>][v_ftp_email]" value="<?=htmlentities(trim($v_ftp_email, "'"))?>">
                                            </td>
                                        </tr>
                                        <?php endif; ?>
                                </table>
                                    <?php endforeach; ?>
                                </td>
                            </tr>

                            <tr class="add-new-ftp-user-button" style="<?php print !empty($v_ftp_user) ? '' : 'display:none;' ?>">
                                <td class="vst-text step-top v-add-new-user step-bottom">
                                    <a class="additional-control" onClick="App.Actions.WEB.add_ftp_user_form()"><?php print __('Add one more FTP Account');?></a>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> <?=__('Save')?></button>
                                </td>
                                <td class="step-top">
                                  <button type="button" class="btn btn-light" onclick="<?=$back?>"><?=__('Back')?></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>

        <div id="templates" class="hidden">
            <table class="ftptable ftptable-nrm" name="v_add_domain_ftp">
                <tr>
                    <td class="vst-text input-label">
                        <?php print __('FTP') ?> #<span class="ftp-user-number"></span> <a class="ftp-remove-user additional-control" onCLick="App.Actions.WEB.remove_ftp_user(this)">(<?=__('delete')?>)</a>
                        <input type="hidden"  class="v-ftp-user-deleted" name="v_ftp_user[%INDEX%][delete]" value="0" />
                        <input type="hidden" class="v-ftp-user-is-new" name="v_ftp_user[%INDEX%][is_new]" value="1" />
                    </td>
                </tr>
                <tr>
                    <td class="vst-text step-left input-label">
                        <?php print __('Username');?><br>
                        <span style="font-size: 10pt; color:#777;"><?php print __('Prefix will be automaticaly added to username',$user."_");?></span>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="text" size="20" class="form-control v-ftp-user" name="v_ftp_user[%INDEX%][v_ftp_user]" value="">
                        <small class="hint"></small>
                    </td>
                </tr>
                <tr>
                    <td class="vst-text step-left  input-label">
                        <?php print __('Password');?> / <a href="javascript:void(0);" onClick="FTPrandom(this)"; class="generate" ><?php print __('generate');?></a>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="text" class="form-control v-ftp-user-psw password" name="v_ftp_user[%INDEX%][v_ftp_password]" value="">
                    </td>
                </tr>

                <tr>
                    <td class="vst-text step-left input-label">
                         <?php print __('Path');?>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="hidden" class="form-control v-ftp-pre-path" name="v_ftp_pre_path" value="">
                        <input type="text"  class="form-control v-ftp-path" name="v_ftp_user[%INDEX%][v_ftp_path]" value="">
                        <br /><span class="ftp-path-prefix"><?=$v_ftp_pre_path_new_user ?></span><span class="ftp-path-value v-ftp-path-hint"></span>
                    </td>
                </tr>
                <tr>
                    <td class="vst-text step-left input-label">
                         <?php print __('Send FTP credentials to email');?>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="text" class="form-control vst-email-alert-on-psw" name="v_ftp_user[%INDEX%][v_ftp_email]" value="">
                    </td>
                </tr>
        </table>
        </div>
    </div>

</div>
    <script>
      GLOBAL.FTP_USER_PREFIX = <?=json_encode($user.'_')?>;
    </script>
