<br><br>
<div class="jumbotron">
  <h2><i class="fa fa-wrench" aria-hidden="true"></i> 更改您的账号设置</h2>
  <?php if (!empty($_SESSION['error_msg'])) { ?>
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <?=htmlentities($_SESSION['error_msg'])?>
    </div>
  <?php } else if (!empty($_SESSION['ok_msg'])) { ?>
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check-triangle" aria-hidden="true"></i>
      <?=htmlentities($_SESSION['ok_msg'])?>
    </div>
  <?php } ?>

    <hr class="my-4">
    <!-- /.l-separator -->

    <div>
      <?php
        $back = $_SESSION['back'];
        if (empty($back)) {
          $back = "location.href='/list/user/'";
        } else {
          $back = "location.href='".$back."'";
        }
      ?>
        <form id="vstobjects" method="post" name="v_edit_user"  class="<?=$v_status?>">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="save" value="save" />

            <table class='data'  style="width: 100%;">
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col2">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Username');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <input type="text" size="20" class="form-control" name="v_user" value="<?=htmlentities(trim($v_username, "'"))?>" disabled>
                                  <input type="hidden" name="v_username" value="<?=htmlentities(trim($v_username, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Password');?> / <a href="javascript:randomString();" class="generate"><?php print __('generate');?></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_password" value="<?=htmlentities(trim($v_password, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Email');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_email" value="<?=htmlentities(trim($v_email, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Language');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" name="v_language">
                                        <?php
                                            foreach ($languages as $key => $value) {
                                                echo "\n\t\t\t\t\t\t\t\t\t<option value=\"".htmlentities($value)."\"";
                                                $svalue = "'".$value."'";
                                                if (( $value == $v_language ) || ( $svalue == $v_language)){
                                                    echo 'selected' ;
                                                }
                                                if (( $value == detect_user_language() ) && (empty($v_language))){
                                                    echo 'selected' ;
                                                }
                                                echo ">".htmlentities($value)."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('First Name');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_fname" value="<?=htmlentities(trim($v_fname, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Last Name');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_lname" value="<?=htmlentities(trim($v_lname, "'"))?>">
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td class="vst-text input-label">
                                    <?php print __('Default Name Servers');?>
                                </td>
                            </tr>

                                        <tr style="display: none;">
                                            <td>
                                                <input type="text" size="20" class="form-control" name="v_ns1" value="<?=htmlentities(trim($v_ns1, "'"))?>">
                                                <span class="remove-ns additional-control delete"><?=__('delete')?></span>
                                            </td>
                                        </tr>
                                        <tr style="display: none;">
                                            <td>
                                                <input type="text" size="20" class="form-control" name="v_ns2" value="<?=htmlentities(trim($v_ns2, "'"))?>">
                                                <span class="remove-ns additional-control delete"><?=__('delete')?></span>
                                            </td>
                                        </tr>

                            <?  if($v_ns3)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="form-control" name="v_ns3" value="'.htmlentities(trim($v_ns3, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns4)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="form-control" name="v_ns4" value="'.htmlentities(trim($v_ns4, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns5)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="form-control" name="v_ns5" value="'.htmlentities(trim($v_ns5, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns6)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="form-control" name="v_ns6" value="'.htmlentities(trim($v_ns6, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns7)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="form-control" name="v_ns7" value="'.htmlentities(trim($v_ns7, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns8)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="form-control" name="v_ns8" value="'.htmlentities(trim($v_ns8, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';
                            ?>
                                <tr class="add-ns" style="display: none;" <? if($v_ns8) echo 'style="display:none;"'; ?> >
                                    <td class="step-top-small">
                                      <span class="add-ns-button additional-control add"><?=__('Add one more Name Server')?></span>
                                    </td>
                                </tr>

                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i> <?=__('Save')?></button>
                                    <!-- <input type="submit" class="btn btn-primary" name="save" value="<?=__('Save')?>"> -->
                                </td>
                                <td class="step-top">
                                    <input type="button" class="btn btn-light" value="<?=__('Back')?>" onclick="<?=$back?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>

  </div>
