<br><br>
<div class="jumbotron">
<h2><i class="fa fa-database" aria-hidden="true"></i> 您的 MySQL 数据库</h2>
<h3 style="opacity: 0.3;">您已使用 <?=$panel[$user]['U_DATABASES']?> 个数据库，总共 <?=$panel[$user]['DATABASES']?> 个</h3>
<a href="/add/db/"><button class="btn btn-primary" <?if($panel[$user]['U_DATABASES'] === $panel[$user]['DATABASES']){ echo 'disabled'; } ?>><i class="fa fa-plus" aria-hidden="true"></i> 创建一个新的数据库</button></a>
<hr class="my-4">
<?php if(!count($data)) { ?>
  <h1>:( oops，好像还没有任何数据库哦</h1>
<?php } else { ?>
  <!-- db loop -->
  <?
    list($http_host, $port) = explode(':', $_SERVER["HTTP_HOST"].":");
    foreach ($data as $key => $value) {
      ++$i;
      if ($data[$key]['SUSPENDED'] == 'yes') {
        $status = 'suspended';
        $spnd_action = 'unsuspend' ;
        $spnd_confirmation = 'UNSUSPEND_DATABASE_CONFIRMATION' ;
      } else {
        $status = 'active';
        $spnd_action = 'suspend' ;
        $spnd_confirmation = 'SUSPEND_DATABASE_CONFIRMATION' ;
      }
      if ($data[$key]['HOST'] != 'localhost' ) $http_host = $data[$key]['HOST'];
      if ($data[$key]['TYPE'] == 'mysql') $db_admin = "phpMyAdmin";
      if ($data[$key]['TYPE'] == 'mysql') $db_admin_link = "http://".$http_host."/phpmyadmin/";
      if (($data[$key]['TYPE'] == 'mysql') && (!empty($_SESSION['DB_PMA_URL']))) $db_admin_link = $_SESSION['DB_PMA_URL'];
      if ($data[$key]['TYPE'] == 'pgsql') $db_admin = "phpPgAdmin";
      if ($data[$key]['TYPE'] == 'pgsql') $db_admin_link = "http://".$http_host."/phppgadmin/";
      if (($data[$key]['TYPE'] == 'pgsql') && (!empty($_SESSION['DB_PGA_URL']))) $db_admin_link = $_SESSION['DB_PGA_URL'];
  ?>
    <div class="card custom-shadow">
      <div class="card-header">
        <br>
        <div class="row">
          <div class="col-md-6">
            <h2><?=$key?></h2>
            <i class="fa fa-hdd-o" aria-hidden="true"></i> <?=__('Disk')?>: <?=humanize_usage_size($data[$key]['U_DISK'])?></b> <?=humanize_usage_measure($data[$key]['U_DISK'])?> /
            <?=humanize_usage_size($panel[$user]['DISK_QUOTA'])?></b> <?=humanize_usage_measure($panel[$user]['DISK_QUOTA'])?>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <?=get_percentage($data[$key]['U_DISK'], $panel[$user]['DISK_QUOTA'])?>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-md-6">
            <b><?=__('User')?> </b> <?=$data[$key]['DBUSER']?><br>
            <b><?=__('Host')?> </b> <?=$data[$key]['HOST']?><br>
            <b><?=__('Charset')?> </b> <?=$data[$key]['CHARSET']?><br>
          </div>
        </div>
        <br>
      </div>
      <div class="card-body">
        <a href="/edit/db/?database=<?=$key?>"><button class="btn btn-light"><i class="fa fa-wrench" aria-hidden="true"></i> 编辑数据库属性</button></a>
        <button class="btn btn-danger" onclick ='deleteDatabase("/delete/db/?database=<?=$key?>&token=<?=$_SESSION['token']?>")'><i class="fa fa-trash" aria-hidden="true"></i> 删除</button>
      </div>
    </div>
    <br>
  <?php } ?>
  <!-- /db loop -->
<?php } ?>
</div>

<script>
  function deleteDatabase(url){
    if(confirm("您确定要删除这个数据库吗？此操作不可撤销")){
      $.get(url, function(){
        window.location.reload()
      })
    }
  }
</script>
