<br><br>
<div class="jumbotron">
<h2><i class="fa fa-list" aria-hidden="true"></i> 您的网站 / 域名</h2>
<h3 style="opacity: 0.3;">您已使用 <?=$panel[$user]['U_WEB_DOMAINS']?> 个域名，总共 <?=$panel[$user]['WEB_DOMAINS']?> 个</h3>
<button class="btn btn-primary" data-toggle="modal" data-target="#add-web-modal" <?if($panel[$user]['U_WEB_DOMAINS'] == $panel[$user]['WEB_DOMAINS']){ echo 'disabled'; } ?>><i class="fa fa-plus" aria-hidden="true"></i> 创建一个新的网站</button>
<hr class="my-4">

<?php if(!count($data)) { ?>
  <h1>:( Boom, 沙卡拉卡, 您还没有设置任何网站</h1>
<?php } else { ?>
  <?php
      foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
              $status = 'suspended';
              $spnd_action = 'unsuspend' ;
              $spnd_confirmation = 'UNSUSPEND_DOMAIN_CONFIRMATION' ;
          } else {
              $status = 'active';
              $spnd_action = 'suspend' ;
              $spnd_confirmation = 'SUSPEND_DOMAIN_CONFIRMATION' ;
          }
          if (!empty($data[$key]['SSL_HOME'])) {
              if ($data[$key]['SSL_HOME'] == 'same') {
                  $ssl_home = 'public_html';
              } else {
                  $ssl_home = 'public_shtml';
              }
          } else {
              $ssl_home = '';
          }
          $web_stats='no';
          if (!empty($data[$key]['STATS'])) {
              $web_stats=$data[$key]['STATS'];
          }
          $ftp_user='no';
          if (!empty($data[$key]['FTP_USER'])) {
              $ftp_user=$data[$key]['FTP_USER'];

          }
          if (strlen($ftp_user) > 24 ) {
              $ftp_user = str_replace(':', ', ', $ftp_user);
              $ftp_user = substr($ftp_user, 0, 24);
              $ftp_user = trim($ftp_user, ":");
              $ftp_user = str_replace(':', ', ', $ftp_user);
              $ftp_user = $ftp_user.", ...";
          } else {
              $ftp_user = str_replace(':', ', ', $ftp_user);
          }

          $backend_support='no';
          if (!empty($data[$key]['BACKEND'])) {
              $backend_support='yes';
          }

          $proxy_support='no';
          if (!empty($data[$key]['PROXY'])) {
              $proxy_support='yes';
          }
          if (strlen($data[$key]['PROXY_EXT']) > 24 ) {
              $proxy_ext_title = str_replace(',', ', ', $data[$key]['PROXY_EXT']);
              $proxy_ext = substr($data[$key]['PROXY_EXT'], 0, 24);
              $proxy_ext = trim($proxy_ext, ",");
              $proxy_ext = str_replace(',', ', ', $proxy_ext);
              $proxy_ext = $proxy_ext.", ...";
          } else {
              $proxy_ext_title = '';
              $proxy_ext = str_replace(',', ', ', $data[$key]['PROXY_EXT']);
          }
      ?>

      <div class="card custom-shadow">
        <div class="card-header">
          <br>
          <h2><?=$key?> <small style="opacity: 0.3;"><?=str_replace(',', ', ', $data[$key]['ALIAS'])?></small></h2>
          <div class="row">
            <!-- bandwidth -->
            <div class="col-md-6">
              <i class="fa fa-tasks" aria-hidden="true"></i> <?=__('Bandwidth')?>: <?=humanize_usage_size($data[$key]['U_BANDWIDTH'])?></b> <?=humanize_usage_measure($data[$key]['U_BANDWIDTH'])?> /
              <?=humanize_usage_size($panel[$user]['BANDWIDTH'])?></b> <?=humanize_usage_measure($panel[$user]['BANDWIDTH'])?>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <?=get_percentage($data[$key]['U_BANDWIDTH'], $panel[$user]['BANDWIDTH'])?>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!-- /bandwidth -->
            <!-- disk usage -->
            <div class="col-md-6">
              <i class="fa fa-hdd-o" aria-hidden="true"></i> <?=__('Disk')?>: <?=humanize_usage_size($data[$key]['U_DISK'])?></b> <?=humanize_usage_measure($data[$key]['U_DISK'])?> /
              <?=humanize_usage_size($panel[$user]['DISK_QUOTA'])?></b> <?=humanize_usage_measure($panel[$user]['DISK_QUOTA'])?>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <?=get_percentage($data[$key]['U_DISK'], $panel[$user]['DISK_QUOTA'])?>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!-- /disk usage -->
          </div>
          <br>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <b><?=__('Proxy Support')?></b> <?=__($proxy_support)?>
            </div>
            <div class="col-md-3">
              <b><?=__('Backend Support')?></b> <?=__($backend_support)?>
            </div>
            <!-- <div class="col-md-3">
              <b><?=__('SSL Support')?></b>
              <? if(empty($data[$key]['LETSENCRYPT'])){
                  echo __($data[$key]['SSL']);
              } else {
                  echo __('Lets Encrypt');
              }?>
            </div> -->
            <div class="col-md-3">
              <b><?=__('Proxy Template')?></b> <?=$data[$key]['PROXY']?>
            </div>
            <div class="col-md-3">
              <b><?=__('Web Statistics')?></b> <?=__($web_stats)?>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <b><?=__('Additional FTP Account')?></b> <?=__($ftp_user)?>
            </div>
          </div>
          <hr class="my-3">
          <a href="/edit/web/?domain=<?=$key?>"><button class="btn btn-light"><i class="fa fa-wrench" aria-hidden="true"></i> 更改网站设置</button></a>
          <button class="btn btn-danger" onclick="deleteDomain('/delete/web/?domain=<?=$key?>&token=<?=$_SESSION['token']?>')"><i class="fa fa-trash" aria-hidden="true"></i> <?=__('delete')?></button>
          </span>
        </div>
      </div>
      <br>



    <?php } ?>
<?php } ?>
</div>

<div class="modal fade" id="add-web-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">设置您的 DNS 记录</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>如果您希望使用自己的域名，您必须设置域名的 DNS 记录。<br>所有的域名销售商都支持自定义 DNS，如果不知道如何设置 DNS，请查看您域名提供商的帮助文档。</p>
        <p>您需要设置的 DNS 记录非常简单，从 A 和 CNAME 记录中任选其一，我们建议使用 CNAME。</p>
        <div class="card text-white bg-dark custom-shadow" style="text-align: center;">
          <div class="card-body">
            <span style="font-size:20px;"><span class="badge badge-secondary">CNAME 记录</span> 您的域名 <i class="fa fa-angle-right" aria-hidden="true"></i> <?=explode(':',$_SERVER['HTTP_HOST'])[0]?></span>
          </div>
        </div>
        <br>
        <div style="text-align: center; font-size: 18px;">- 或 -</div>
        <br>
        <div class="card bg-light custom-shadow" style="text-align: center;">
          <div class="card-body">
            <span style="font-size:20px;"><span class="badge badge-secondary">A 记录</span> 您的域名 <i class="fa fa-angle-right" aria-hidden="true"></i> <?=$_SERVER['SERVER_ADDR']?></span>
          </div>
        </div>
        <br>
        <p>没有域名？没有关系，您可以暂时使用我们的免费二级域名。<br>点击确认之后，输入如下域名即可，不需要担心，在之后您可以添加自己的自定义域名。</p>
        <div class="card bg-light custom-shadow" style="text-align: center;">
          <div class="card-body">
            <span style="font-size:20px;"><?=$user?>.<?=explode(':', $_SERVER['HTTP_HOST'])[0]?></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/add/web/"><button type="button" class="btn btn-primary">我已经设置好 DNS</button></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteDomain(url){
    if(confirm("确定要删除这个域名吗？此操作不可撤销！")){
      $.get(url, function(){
        window.location.reload()
      })
    }
  }
</script>
