<br><br>
<?php
  foreach ($data as $key => $value) {
    ++$i;
    if ($data[$key]['SUSPENDED'] == 'yes') {
      $status = 'suspended';
      $spnd_action = 'unsuspend' ;
      $spnd_confirmation = 'UNSUSPEND_USER_CONFIRMATION' ;
    } else {
      $status = 'active';
      $spnd_action = 'suspend' ;
      $spnd_confirmation = 'SUSPEND_USER_CONFIRMATION' ;
    }
?>
  <?php if($key === $user) { ?>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <?=get_percentage($data[$key]['U_BANDWIDTH'], $data[$key]['BANDWIDTH'])?>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <h2>
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <?=__('Bandwidth')?> - <?=humanize_usage_size($data[$key]['U_BANDWIDTH'])?> <?=humanize_usage_measure($data[$key]['U_BANDWIDTH'])?> /
            <?=humanize_usage_size($data[$key]['BANDWIDTH'])?> <?=humanize_usage_measure($data[$key]['BANDWIDTH'])?>
          </h2>
        </div>
        <div class="col-md-6">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <?=get_percentage($data[$key]['U_DISK'], $data[$key]['DISK_QUOTA'])?>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <h2>
            <i class="fa fa-hdd-o" aria-hidden="true"></i>
            <?=__('Disk')?> - <?=humanize_usage_size($data[$key]['U_DISK'])?> <?=humanize_usage_measure($data[$key]['U_DISK'])?> /
            <?=humanize_usage_size($data[$key]['DISK_QUOTA'])?> <?=humanize_usage_measure($data[$key]['DISK_QUOTA'])?>
          </h2>
        </div>
      </div>
      <hr class="my-4">
      <?php if ($user == 'admin') { ?>
        <a href="/add/user/"><button class="btn btn-primary"><?=__('Add User')?></button></a>
      <?php } else { ?>
        <a href="/list/web/"><button class="btn btn-primary"><i class="fa fa-folder-open" aria-hidden="true"></i> 管理网站 / 域名</button></a>
      <?php } ?>
      <a href="/list/db/"><button class="btn btn-light"><i class="fa fa-database" aria-hidden="true"></i> 管理数据库</button></a>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-6">
          <h2>您当前的账户状态</h2>
          <br>
          <h6>用户名: <?=$key?></h6>
          <h6>Email: <?=$data[$key]['CONTACT']?></h6>
          <br>
          <a href="/edit/user/?user=<?=$key?>"><button class="btn btn-light"><i class="fa fa-pencil" aria-hidden="true"></i> 编辑账户信息</button></a>
          <button class="btn btn-light" data-toggle="modal" data-target="#ftp-modal-<?=md5($key)?>"><i class="fa fa-question-circle-o" aria-hidden="true"></i> 如何连接(S)FTP？</button>
        </div>
        <div class="col-md-6">
          <h5>方案: <?=$data[$key]['PACKAGE']?> <button class="btn btn-default" disabled>升级</button></h5>
          <p><?=__('Web Domains')?>: <b><?=$data[$key]['U_WEB_DOMAINS']?></b> / <?=$data[$key]['WEB_DOMAINS']?></p>
          <!-- <p><?=__('Mail Domains')?>: <b><?=$data[$key]['U_MAIL_DOMAINS']?></b> / <?=$data[$key]['MAIL_DOMAINS']?></p> -->
          <p><?=__('Databases')?>: <b><?=$data[$key]['U_DATABASES']?></b> / <?=$data[$key]['DATABASES']?></p>
          <!-- <p><?=__('Cron Jobs')?>: <b><?=$data[$key]['U_CRON_JOBS']?></b> / <?=$data[$key]['CRON_JOBS']?></p> -->
        </div>
      </div>
      <br>
      <div class="row">
        <div class="card bg-dark text-white custom-shadow" style="text-align: center; width: 100%;">
          <div class="card-body">
            <pre style="color: white; padding:0; margin:0; font-size: 18px;">$ sftp <?=$user?>@<?=explode(':',$_SERVER['HTTP_HOST'])[0]?></pre>
          </div>
        </div>
      </div>
    </div>
  <?php } ?>
<?php } ?>
<!-- ftp modal -->
<div class="modal fade bd-example-modal-lg" id="ftp-modal-<?=md5($key)?>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">如何连接(S)FTP</h5>
      </div>
      <div class="modal-body">
        <p>这是您的 FTP 用户信息</p>
        <div class="card bg-light custom-shadow" style="text-align: center;">
          <div class="card-body">
            <span style="font-size:20px;"><span class="badge badge-secondary">主机</span> <code><?=explode(':',$_SERVER['HTTP_HOST'])[0]?></code></span>
            <br>
            <span style="font-size:20px;"><span class="badge badge-secondary">用户名</span> <code><?=$user?></code></span>
            <br>
            <span style="font-size:20px;"><span class="badge badge-secondary">密码</span> <code>您的账户密码</code></span>
            <br>
            <span style="font-size:20px;"><span class="badge badge-secondary">端口</span> <code>21</code></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ftp modal -->
