  <div class="hidden" id="token" token="<?=$_SESSION['token']?>"></div>
  <!-- <a href="#" class="to-top">
    <i class="l-icon-to-top"></i>
  </a>
  <a href="#" class="to-shortcuts">
    <i class="l-icon-shortcuts"></i>
  </a> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AlchemistCloud β</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item <?php if($TAB == 'STATS' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/stats/"><i class="fa fa-area-chart" aria-hidden="true"></i> <?=__('Statistics')?></a>
        </li> -->
        <li class="nav-item <?php if($TAB == 'LOG' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/log/"><i class="fa fa-terminal" aria-hidden="true"></i> <?=__('Log')?></a>
        </li>
        <?php if ((isset($_SESSION['FILEMANAGER_KEY'])) && (!empty($_SESSION['FILEMANAGER_KEY']))) { ?>
          <li class="nav-item <?php if($TAB == 'FILEMANAGER' ) echo 'active' ?>">
            <a class="nav-link"  href="/list/directory/"><?=__('File Manager')?></a>
          </li>
        <?php } ?>
      </ul>
      <ul class="navbar-nav navbar-inline">
        <li class="nav-item">
          <a class="nav-link"  href="/edit/user/?user=<?php echo $user; ?>"><i class="fa fa-user" aria-hidden="true"></i> <? if($panel[$user]['NOTIFICATIONS'] == 'yes') echo " !"; ?> <? if(($_SESSION['user'] == 'admin') && ($user != 'admin')) echo 'admin → ' ?><?=$user?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i> <?=__('Log out')?></a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="notification-container hidden"></ul>

  <br>
  <div class="container">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'USER' ) echo 'active' ?>" href="/list/user/">
          <h4><i class="fa fa-address-card-o" aria-hidden="true"></i><br><br><?=__('USER')?></h4>
          <?=__('Disk')?>: <?=humanize_usage_size($panel[$user]['U_DISK'])?> <?=humanize_usage_measure($panel[$user]['U_DISK'])?><br>
          <?=__('Bandwidth');?>: <?=humanize_usage_size($panel[$user]['U_BANDWIDTH'])?> <?=humanize_usage_measure($panel[$user]['U_BANDWIDTH'])?><br><br>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'WEB' ) echo 'active' ?>" href="/list/web/">
          <h4><i class="fa fa-folder-open" aria-hidden="true"></i><br><br><?=__('WEB')?></h4>
          <?=__('domains')?>: <?=$panel[$user]['U_WEB_DOMAINS']?><br>
          <?=__('aliases')?>: <?=$panel[$user]['U_WEB_ALIASES']?><br>
          <?=__('spnd')?>: <?=$panel[$user]['SUSPENDED_WEB']?>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'DNS' ) echo 'active' ?>" href="/list/dns/">
          <h4><i class="fa fa-code" aria-hidden="true"></i><br><br><?=__('DNS')?></h4>
          <?=__('domains')?>: <?=$panel[$user]['U_DNS_DOMAINS']?><br>
          <?=__('records')?>: <?=$panel[$user]['U_DNS_RECORDS']?><br>
          <?=__('spnd')?>: <?=$panel[$user]['SUSPENDED_DNS']?>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'MAIL' ) echo 'active' ?>" href="/list/mail/">
          <h4><i class="fa fa-envelope" aria-hidden="true"></i><br><br><?=__('MAIL')?></h4>
          <?=__('domains')?>: <?=$panel[$user]['U_MAIL_DOMAINS']?><br>
          <?=__('accounts')?>: <?=$panel[$user]['U_MAIL_ACCOUNTS']?><br>
          <?=__('spnd')?>: <?=$panel[$user]['SUSPENDED_MAIL']?>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'DB' ) echo 'active' ?>" href="/list/db/">
          <h4><i class="fa fa-database" aria-hidden="true"></i><br><br><?=__('DB')?></h4>
          <?=__('databases')?>: <?=$panel[$user]['U_DATABASES']?><br>
          <?=__('accounts')?>: <?=$panel[$user]['U_MAIL_ACCOUNTS']?><br><br>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'CRON' ) echo 'active' ?>" href="/list/cron/">
          <h4><i class="fa fa-calendar" aria-hidden="true"></i><br><br><?=__('CRON')?></h4>
          <?=__('jobs')?>: <?=$panel[$user]['U_CRON_JOBS']?><br>
          <?=__('spnd')?>: <?=$panel[$user]['SUSPENDED_CRON']?><br><br>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link <?php if($TAB == 'BACKUP' ) echo 'active' ?>" href="/list/backup/">
          <h4><i class="fa fa-archive" aria-hidden="true"></i><br><br><?=__('BACKUP')?></h4>
          <?=__('backups')?>: <?=$panel[$user]['U_BACKUPS']?><br><br><br>
        </a>
      </li>
    </ul>
  </div>
  <a href="https://junthehacker.typeform.com/to/AJIlDl" target="_blank">
    <div id="feedback-button">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 帮助我们做的更好<br>
      <small>有机会获取 1年 免费高级账户</small>
    </div>
  </a>
  <style>
    #feedback-button {
      background-color: #f57f17;
      position: fixed;
      left: -170px;
      bottom: 50px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 30px;
      color: white;
      box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
      cursor: pointer;
      transition: all ease 0.5s;
    }
    #feedback-button:hover {
      left: 0px;
      transition: all ease 0.5s;
    }
  </style>
  <!-- Start of Async Drift Code -->
  <script>
  !function() {
    var t;
    if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n;
        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('gtn489nuduwx');
  </script>
  <!-- End of Async Drift Code -->
  <div class="container">
