<div class="container" style="text-align: center;">
<div class="card custom-shadow bg-dark text-white" style="width: 100%; max-width: 500px; display: inline-block;">
  <div class="card-header">
    <br>
    <h4>AlchemistCloud 登录</h4>
    <br>
  </div>
  <div class="card-body">
    <form method="post" action="/login/">
      <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" name="user" placeholder="用户名">
      </div>
      <div class="form-group">
        <label>密码</label>
        <input type="password" class="form-control" name="password" placeholder="密码">
      </div>
      <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录</button>
      <a href="/reset/"><button class="btn btn-dark" type="button">忘记密码？</button></a>
    </form>
  </div>
</div>
</div>
