<div class="container" style="text-align: center;">
<div class="card custom-shadow bg-dark text-white" style="width: 100%; max-width: 500px; display: inline-block;">
  <div class="card-header">
    <br>
    <h4>AlchemistCloud 密码找回</h4>
    <br>
  </div>
  <div class="card-body">
    <form method="post">
      <p>
        请选择一个新密码
      </p>
      <div class="form-group">
        <label>新密码</label>
        <input type="password" class="form-control" name="password" placeholder="新密码">
      </div>
      <div class="form-group">
        <label>确认新密码</label>
        <input type="password" class="form-control" name="password_confirm" placeholder="确认新密码">
      </div>
      <input type="hidden" name="action" value="confirm" >
      <input type="hidden" name="user" value="<?=htmlentities($_GET['user'], ENT_QUOTES|ENT_HTML5)?>" >
      <input type="hidden" name="code" value="<?=htmlentities($_GET['code'], ENT_QUOTES|ENT_HTML5)?>" >
      <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i> 提交</button>
      <a href="/login/"><button class="btn btn-dark" type="button">返回</button></a>
    </form>
  </div>
</div>
</div>
