<div class="container" style="text-align: center;">
<div class="card custom-shadow bg-dark text-white" style="width: 100%; max-width: 500px; display: inline-block;">
  <div class="card-header">
    <br>
    <h4>AlchemistCloud 密码找回</h4>
    <br>
  </div>
  <div class="card-body">
    <form method="post" action="/reset/">
      <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" name="user" placeholder="用户名">
      </div>
      <?php print __('RESET_NOTICE');?>
      <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i> 提交</button>
      <a href="/login/"><button class="btn btn-dark" type="button">返回</button></a>
    </form>
  </div>
</div>
</div>
