<div class="container" style="text-align: center;">
<div class="card custom-shadow bg-dark text-white" style="width: 100%; max-width: 500px; display: inline-block;">
  <div class="card-header">
    <br>
    <h4>AlchemistCloud 密码找回</h4>
    <br>
  </div>
  <div class="card-body">
    <form method="get" action="/reset/">
      <p>
        验证码已经发送至您的邮箱，如果没有收到，请检查您的垃圾邮件
      </p>
      <div class="form-group">
        <label>验证码</label>
        <input type="text" class="form-control" name="code" placeholder="验证码">
      </div>
      <input type="hidden" name="action" value="confirm">
      <input type="hidden" name="user" value="<?=htmlentities($_GET['user'], ENT_QUOTES|ENT_HTML5)?>">
      <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i> 提交</button>
      <a href="/reset/"><button class="btn btn-dark" type="button">返回</button></a>
    </form>
  </div>
</div>
</div>
