<br><br>
<div class="jumbotron">
  <h2><i class="fa fa-wrench" aria-hidden="true"></i> <?=__('Editing Database')?></h2>
  <?php if (!empty($_SESSION['error_msg'])) { ?>
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <?=htmlentities($_SESSION['error_msg'])?>
    </div>
  <?php } else if (!empty($_SESSION['ok_msg'])) { ?>
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check" aria-hidden="true"></i>
      <?=htmlentities($_SESSION['ok_msg'])?>
    </div>
  <?php } ?>
    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div>
      <?php
        $back = $_SESSION['back'];
        if (empty($back)) {
          $back = "location.href='/list/db/'";
        } else {
          $back = "location.href='".$back."'";
        }
      ?>
        <form id="vstobjects" name="v_edit_db" method="post"  class="<?=$v_status?>">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="save" value="save" />

           <table class='data'>
                <tr class="data-add">
                    <!-- <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                    <a class="data-date"><?=translate_date($v_date)?></a><br>
                                    <a class="data-date"><?=$v_time?></a>
                                </td>
                            </tr>
                            <tr><td class="data-<?php echo $v_status ?>"><b><?php echo __($v_status) ?></b></td></tr>
                        </table>
                    </td> -->
                    <td class="data-dotted">
                        <table class="data-col2" width="600px">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Database');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_database" value="<?=htmlentities(trim($v_database, "'"))?>" disabled>
                                    <small class="hint"></small>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('User');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_dbuser" value="<?=htmlentities(trim($v_dbuser, "'"))?>">
                                    <small class="hint"></small>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Password');?> / <a href="javascript:randomString();" class="generate"><?=__('generate')?></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_password" value="<?=htmlentities(trim($v_password, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Type');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_type" value="<?=htmlentities(trim($v_type, "'"))?>" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Host');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_host" value="<?=htmlentities(trim($v_host, "'"))?>" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Charset');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="form-control" name="v_charset" value="<?=htmlentities(trim($v_charset, "'"))?>" disabled>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                  <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> <?=__('Save')?></button>
                                    <!-- <input type="submit" class="button" name="save" value="<?=__('Save')?>"> -->
                                </td>
                                <td class="step-top">
                                  <button class="btn btn-light" type="button" onclick="<?=$back?>"><?=__('Back')?></button>
                                    <!-- <input type="button" class="button cancel" value="<?=__('Back')?>" onclick="<?=$back?>"> -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
    <script>
      GLOBAL.DB_USER_PREFIX = <?=json_encode($user.'_')?>;
      GLOBAL.DB_DBNAME_PREFIX = <?=json_encode($user.'_')?>;
    </script>
