<br><br>
<div class="jumbotron">
<h2><i class="fa fa-archive" aria-hidden="true"></i> 数据备份</h2>
<h3 style="opacity: 0.3;">您已使用 <?=$panel[$user]['U_BACKUPS']?> 个备份空间，总共 <?=$panel[$user]['BACKUPS']?> 个</h3>
<a href="/schedule/backup/"><button class="btn btn-primary" <?if($panel[$user]['U_BACKUPS'] === $panel[$user]['BACKUPS']){ echo 'disabled'; } ?>><i class="fa fa-plus" aria-hidden="true"></i> 创建一个新的备份</button></a>
<hr class="my-4">
<?php if(!count($data)) { ?>
  <h1>:( 好像还没有备份呢</h1>
<?php } else { ?>
  <!-- backup loop -->
  <?
    foreach ($data as $key => $value) {
      ++$i;
      $web = __('no');
      $dns = __('no');
      $mail = __('no');
      $db = __('no');
      $cron = __('no');
      $udir = __('no');

      if (!empty($data[$key]['WEB'])) $web = __('yes');
      if (!empty($data[$key]['DNS'])) $dns = __('yes');
      if (!empty($data[$key]['MAIL'])) $mail = __('yes');
      if (!empty($data[$key]['DB'])) $db = __('yes');
      if (!empty($data[$key]['CRON'])) $cron = __('yes');
      if (!empty($data[$key]['UDIR'])) $udir = __('yes');

  ?>
    <div class="card custom-shadow">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h2><?=$key?></h2>
            <?=translate_date($data[$key]['DATE'])?>
          </div>
          <div class="col-md-6">
            <?=__('Backup Size')?>: <b><?=humanize_usage_size($data[$key]['SIZE'])?></b> <?=humanize_usage_measure($data[$key]['SIZE'])?><br>
            <?=__('Type')?>: <?=$data[$key]['TYPE']?>
          </div>
        </div>
      </div>
      <div class="card-body">
        <a href="/download/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>"><button class="btn btn-light"><i class="fa fa-cloud-download" aria-hidden="true"></i> 下载这个备份</button></a>
        <button class="btn btn-danger" onclick ='deleteBackup("/delete/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>")'><i class="fa fa-trash" aria-hidden="true"></i> 删除</button>
      </div>
    </div>
    <br>
  <?php } ?>
  <!-- /db loop -->
<?php } ?>
</div>

<script>
  function deleteBackup(url){
    if(confirm("您确定要删除这个备份吗？此操作不可撤销")){
      $.get(url, function(){
        window.location.reload()
      })
    }
  }
</script>
