<br><br>
<div class="jumbotron">
  <h2><i class="fa fa-terminal" aria-hidden="true"></i> 系统日志</h2>
<pre>
  <?php
    foreach ($data as $key => $value) {
       ++$i;
  ?>
<?=translate_date($data[$key]['DATE'])?> <?=$data[$key]['TIME']?> <?=$data[$key]['CMD']?>

  <?php } ?>
</pre>
</div>
