
    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <a href="/schedule/backup/" class="l-sort__create-btn" title="<?=__('Create Backup')?>"></a>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="step-right">
                <a class="vst" href="/list/backup/exclusions/"><?=__('backup exclusions')?></a>
              </td>
              <td class="l-sort-toolbar__search-box">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <input type="submit" value="" class="l-sort-toolbar__search" onClick="return doSearch('/search/')" />
                </form>
              </td>
              <td class="toggle-all">
                <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                <label for="toggle-all" class="check-label toggle-all"><?=__('toggle all')?></label>
              </td>
              <td class="step-right">
                <form action="/bulk/backup/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="action" id="">
                    <option value=""><?=__('apply to selected')?></option>
                    <option value="delete"><?php print __('delete') ?></option>
                  </select>
                </div>
                <input type="submit" value="" class="l-sort-toolbar__filter-apply" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units">
      <?
        foreach ($data as $key => $value) {
          ++$i;
          $web = __('no');
          $dns = __('no');
          $mail = __('no');
          $db = __('no');
          $cron = __('no');
          $udir = __('no');

          if (!empty($data[$key]['WEB'])) $web = __('yes');
          if (!empty($data[$key]['DNS'])) $dns = __('yes');
          if (!empty($data[$key]['MAIL'])) $mail = __('yes');
          if (!empty($data[$key]['DB'])) $db = __('yes');
          if (!empty($data[$key]['CRON'])) $cron = __('yes');
          if (!empty($data[$key]['UDIR'])) $udir = __('yes');

      ?>

      <div class="l-unit<? if($status == 'suspended') echo ' l-unit--outdated';?>">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
            <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="backup[]" value="<?php echo $key ?>">
            <label for="check<?php echo $i ?>" class="check-label"></label>
          </div>
          <!-- l-unit-toolbar__col -->
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
            <div class="actions-panel clearfix">
              <? if ($data[$key]['UPDATED'] == 'no') {
                   echo '<div class="actions-panel__col actions-panel__update shortcut-u" key-action="href"><a href="/update/vesta/?pkg='.$key.'&token='.$_SESSION['token'].'">'.__('update').'<i></i></a><span class="shortcut">&nbsp;U</span></div>';
                 }
              ?>
              <div class="actions-panel__col actions-panel__download shortcut-d" key-action="href"><a href="/download/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>"><?=__('download')?> <i></i></a><span class="shortcut">&nbsp;D</span></div>
              <div class="actions-panel__col actions-panel__configure shortcut-enter" key-action="href"><a href="/list/backup/?backup=<?=$key?>"><?=__('configure restore settings')?> <i></i></a><span class="shortcut enter">&nbsp;&#8629;</span></div>
              <div class="actions-panel__col actions-panel__delete shortcut-delete" key-action="js">
                <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                  <?=__('delete')?> <i class="do_delete"></i>
                  <input type="hidden" name="delete_url" value="/delete/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>" />
                  <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                    <p class="confirmation"><?=__('DELETE_BACKUP_CONFIRMATION',$key)?></p>
                  </div>
                </a>
                <span class="shortcut delete">&nbsp;Del</span>
              </div>
            </div>
            <!-- /.actions-panel -->
          </div>
          <!-- l-unit-toolbar__col -->
        </div>
        <!-- /.l-unit-toolbar -->

        <div class="l-unit__col l-unit__col--left clearfix">
          <div class="l-unit__date">
            <?=translate_date($data[$key]['DATE'])?>
          </div>
          <div class="l-unit__suspended"><?=__('outdated')?></div>
        </div>
        <!-- /.l-unit__col -->
        <div class="l-unit__col l-unit__col--right">
          <div class="l-unit__name separate">
            <?=$key?>
          </div>

          <div class="l-unit__stats">
            <table>
               <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Backup Size')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=humanize_usage_size($data[$key]['SIZE'])?></b> <?=humanize_usage_measure($data[$key]['SIZE'])?>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left compact"><?=__('Type')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=$data[$key]['TYPE']?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix last">
                    <div class="l-unit__stat-col l-unit__stat-col--left compact"><?=__('Run Time')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=humanize_time($data[$key]['RUNTIME'])?></b>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.l-unit__stats -->
        </div>
        <!-- /.l-unit__col -->
      </div>
      <!-- /.l-unit -->
      <!-- div class="l-separator"></div -->
      <!-- /.l-separator -->
      <? } ?>

    </div>



    <div id="vstobjects">
      <div class="l-separator"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 archive');
              } else {
                echo __('%s archives',$i);
              }
            ?>
          </div>
        </div>
      </div>
    </div>
