  <div class="hidden" id="token" token="<?=$_SESSION['token']?>"></div>
  <a href="#" class="to-top">
    <i class="l-icon-to-top"></i>
  </a>
  <a href="#" class="to-shortcuts">
    <i class="l-icon-shortcuts"></i>
  </a>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AlchemistCloud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <?php if($TAB == 'PACKAGE' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/package/"><?=__('Packages')?></a>
        </li>
        <li class="nav-item <?php if($TAB == 'IP' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/ip/"><?=__('IP')?></a>
        </li>
        <li class="nav-item <?php if($TAB == 'RRD' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/rrd/"><?=__('Graphs')?></a>
        </li>
        <li class="nav-item <?php if($TAB == 'STATS' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/stats/"><?=__('Statistics')?></a>
        </li>
        <li class="nav-item <?php if($TAB == 'LOG' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/log/"><?=__('Log')?></a>
        </li>
        <li class="nav-item <?php if($TAB == 'UPDATES' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/updates/"><?=__('Updates')?></a>
        </li>
        <?php if ((isset($_SESSION['FIREWALL_SYSTEM'])) && (!empty($_SESSION['FIREWALL_SYSTEM']))) { ?>
          <li class="nav-item <?php if($TAB == 'FIREWALL' ) echo 'active' ?>">
            <a class="nav-link"  href="/list/firewall/"><?=__('Firewall')?></a>
          </li>
        <?php } ?>
        <?php if ((isset($_SESSION['FILEMANAGER_KEY'])) && (!empty($_SESSION['FILEMANAGER_KEY']))) { ?>
          <li class="nav-item <?php if($TAB == 'FILEMANAGER' ) echo 'active' ?>">
            <a class="nav-link"  href="/list/directory/"><?=__('File Manager')?></a>
          </li>
        <?php } ?>
        <li class="nav-item <?php if($TAB == 'SERVER' ) echo 'active' ?>">
          <a class="nav-link"  href="/list/server/"><?=__('Server')?></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-inline">
        <li class="nav-item">
          <a class="nav-link"  href="/edit/user/?user=<?php echo $user; ?>"><? if($panel[$user]['NOTIFICATIONS'] == 'yes') echo " !"; ?> <?=$user?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/logout/"><?=__('Log out')?></a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="notification-container hidden"></ul>

  <!-- /.l-header -->



  <div class="l-content">
    <div class="l-center">
      <div class="l-stat">
        <div class="l-stat__col <?php if($TAB == 'USER' ) echo 'l-stat__col--active' ?>">
          <a href="/list/user/">
            <div class="l-stat__col-title"><?=__('USER')?></div>
            <ul>
              <li><?=__('users')?>: <span><?=$panel[$user]['U_USERS']?></span></li>
              <li><?=__('spnd');?>: <span><?=$panel[$user]['SUSPENDED_USERS']?></span></li>
            </ul>
          </a>
        </div>
        <div class="l-stat__col <?php if($TAB == 'WEB' ) echo 'l-stat__col--active' ?>">
          <a href="/list/web/">
            <div class="l-stat__col-title"><?=__('WEB')?></div>
            <ul>
              <li><?=__('domains')?>: <span><?=$panel[$user]['U_WEB_DOMAINS']?></span></li>
              <li><?=__('aliases')?>: <span><?=$panel[$user]['U_WEB_ALIASES']?></span></li>
              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_WEB']?></span></li>
            </ul>
          </a>
        </div>
        <div class="l-stat__col <?php if($TAB == 'DNS' ) echo 'l-stat__col--active' ?>">
          <a href="/list/dns/">
            <div class="l-stat__col-title"><?=__('DNS')?></div>
            <ul>
              <li><?=__('domains')?>: <span><?=$panel[$user]['U_DNS_DOMAINS']?></span></li>
              <li><?=__('records')?>: <span><?=$panel[$user]['U_DNS_RECORDS']?></span></li>
              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_DNS']?></span></li>
            </ul>
          </a>
        </div>
        <div class="l-stat__col <?php if($TAB == 'MAIL' ) echo 'l-stat__col--active' ?>">
          <a href="/list/mail/">
            <div class="l-stat__col-title"><?=__('MAIL')?></div>
            <ul>
              <li><?=__('domains')?>: <span><?=$panel[$user]['U_MAIL_DOMAINS']?></span></li>
              <li><?=__('accounts')?>: <span><?=$panel[$user]['U_MAIL_ACCOUNTS']?></span></li>
              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_MAIL']?></span></li>
            </ul>
          </a>
        </div>
        <div class="l-stat__col <?php if($TAB == 'DB' ) echo 'l-stat__col--active' ?>">
          <a href="/list/db/">
            <div class="l-stat__col-title"><?=__('DB')?></div>
            <ul>
              <li><?=__('databases')?>: <span><?=$panel[$user]['U_DATABASES']?></span></li>
              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_DB']?></span></li>
            </ul>
          </a>
        </div>
        <div class="l-stat__col <?php if($TAB == 'CRON' ) echo 'l-stat__col--active' ?>">
          <a href="/list/cron/">
            <div class="l-stat__col-title"><?=__('CRON')?></div>
            <ul>
              <li><?=__('jobs')?>: <span><?=$panel[$user]['U_CRON_JOBS']?></span></li>
              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_CRON']?></span></li>
            </ul>
          </a>
        </div>
        <div class="l-stat__col <?php if($TAB == 'BACKUP' ) echo 'l-stat__col--active' ?>">
          <a href="/list/backup/">
            <div class="l-stat__col-title"><?=__('BACKUP')?></div>
            <ul>
              <li><?=__('backups')?>: <span><?=$panel[$user]['U_BACKUPS']?></span></li>
            </ul>
          </a>
        </div>
      </div>
      <!-- /.l-stats -->
    </div>
    <div class="l-separator"></div>
    <!-- /.l-separator -->
